# misc
*.env
*.pyc
*.log

# unifi
unifi/log/*
unifi/data/*
unifi/config/*
unifi/run/*

# traefik
traefik/acme.json

# homeassistant
homeassistant/**/.storage
homeassistant/**/.cloud
homeassistant/**/.google.token
homeassistant/**/ip_bans.yaml
homeassistant/**/secrets.yaml
homeassistant/**/known_devices.yaml
homeassistant/**/custom_components
homeassistant/config/*

# pihole
pihole/etc